@import "tailwindcss";

@layer base {
  html {
    font-family: "Noto Sans", ui-sans-serif, system-ui, sans-serif;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
